<form class="" method="post" action="{{ path('hidingplace_delete', {'id': hidingplace.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette donnée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hidingplace.id) }}">
    <button class="button3 mb-2">SUPPRIMER</button>
</form>