{% extends 'base.html.twig' %}

{% block title %} KGB - Ajouter un Refuge {% endblock %}

{% block body %}
    <h1 class="text-center">Nouveau Refuge</h1>

    {{ include('hidingplacesdetails/form.html.twig', {'button_label': ''}) }}
{% endblock %}